{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Autentificação</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/estilo.css' %}">
</head>
<body>
        <header>
             <h1 class="titulo-header">Projeto de Autentificação</h1>
    </header>
    <main>
        <form class = "card-login" action="" method="post">
            {% csrf_token %}
           <div class="mensagens">
            {% if messages %}
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        <div>
        <div class="Titulo Card">
            <h1>Login</h1>
        </div>
        <div class="campoEmail">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite seu Email" required>
        </div>
        <div class="campoSenha">
            <label for="senha" >Senha</label>
            <input type="password" name="senha" id="senha"placeholder= "Digite sua Senha" required>
            <button  type="submit">Logar</button>
        <div class="RP-Senha">
            <p>Caso tenha esquecido sua senha <a href="{% url 'rpsenha' %}?novo=1">Clique aqui</a></p>
        </div>
        </div>
        </form>
        <p class="criar-conta">
            <a href="{% url 'cadastro' %}">Criar conta</a>
        </p>
    </main>
    
</body>
</html>