{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Autentificacao"</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/estilo.css' %}">
</head>
<body>
     <header>
             <h1 class="titulo-header">Projeto de Autentificação</h1>
    </header>
    <main>
        <form class = "card-nova" action="" method="post">
            {% csrf_token %}
        <div class="mensagens">
            {% if messages %}
                {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        <div>
        <div class="Titulo Card">
            <h1>Redefinir Senha</h1>
        </div>
        <div class="campoSenhaNova">
            <label for="email">Nova Senha</label>
            <input type="" name="novasenha" id="novaemail" placeholder="Digite a nova Senha">
        </div>
        <div class="campoConfirmarSenha">
            <label for="senha">Confirme a Senha</label>
            <input type="password" name="Cnovasenha" id="senha"placeholder= "Confirme a nova senha">
            <button  type="submit" name="acao" value="trocar">Logar</button>
        </div>
        </div>
        </form>
        <p class="login-Novasenha">
            <a href="{% url 'login' %}">Login</a>
        </p>
    </main>
    
</body>
</html>