{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto de Autentificacao"</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/estilo.css' %}">
</head>
<body>
        <header>
            <a href="index.html">
            <img src="imgs/logo (2).png" width="170" height="170" alt="Victor Projetos">
            </a>
            <h1>Projeto de Autentificação</h1>
    </header>
    <main>
        <form class = "card-SenhaNova" action="" method="post">
            {% csrf_token %}
        <div class="Titulo Card">
            <h1>Login</h1>
        </div>
        <div class="campoSenhaNova">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Digite seu Email">
        </div>
        <div class="campoConfirmarSenha">
            <label for="senha" >Senha</label>
            <input type="password" name="senha" id="senha"placeholder= "Digite sua Senha">
            <button  type="submit">Logar</button>
        </div>
        </div>
        </form>
        <p class="criar-conta">
            <a href="index.html">Criar conta</a>
        </p>
    </main>
    
</body>
</html>